body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2020%2F04%2Fstudio-ghibli-free-wallpaper-download-info-00.jpg?w=960&cbr=1&q=90&fit=max');
    background-size: contain; 
    background-repeat: repeat; 
    color: white;
    padding: 20px; 
}

.flex-container {
    display: flex;
    justify-content: center;
}

#movieList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, calc(25% - 20px)));
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

.movie-card {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.movie-card:hover {
    transform: translateY(-5px);
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.movie-card .info {
    padding: 10px;
}

.movie-card h2 {
    margin: 0;
    font-size: 18px;
}

.movie-card p {
    margin: 5px 0;
    font-size: 14px;
}

input[type="text"] {
    width: calc(100% - 100px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    box-sizing: border-box; 
}

button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #cc5500;
}

#returnButton {
    background-color: #666666;
    margin-right: 10px;
}

#returnButton:hover {
    background-color: #555555; 
}
